<!--Navigation Bar-->
<nav class="navbar  navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/admin">HOME</a></li>
                <!-- <li><a href="/api/accept">NEW JOBS</a></li> -->
                <li> <a href="" class="dropdown-toggle" data-toggle="dropdown">JOBS <b class="caret"></b></a>
                    <ul class="dropdown-menu nav navbar-nav" style="top: 53px;background-color: #222">
                        <li><a href="/api/accept" style="text-decoration: none;">ACCEPT JOBS</a></li>
                        <li><a href="/api/assign">ASSIGN JOBS</a></li>
                        <li><a href="/api/jobs">VIEW JOBS</a></li>
                    </ul>
                </li>
                <li> <a href="" class="dropdown-toggle" data-toggle="dropdown">REPORTS <b class="caret"></b></a>
                    <ul class="dropdown-menu nav navbar-nav" style="top: 53px;background-color: #222">
                        <li><a href="/api/getDate" style="text-decoration: none;">PERIODIC REPORT</a></li>
                        <li><a href="/api/getDetails">MONTHLY REPORT</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right admin-nav">
                <button type="submit" class="btn btn-primary" id="adminLogout" data-toggle="modal" onclick="location.href = '/logout'"> Log Out <i class="fa fa-key" aria-hidden="true"></i></button>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<!--End Nav-->
<!--Webpage Body-->
<!--Webpage Body-->
<div class="container" style="position: relative; top: 85px;">
  <table class="table table-striped accept-table-whole">
    <thead class="table-head-accept">
      <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>LOCATION</th>
        <th>CONTACT</th>
        <th>SERVICES</th>
        <th>DESCRIPTION</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="table-accept">
      {{#each Job}}
      <tr>
        <td>{{this.id}}</td>
        <td>{{this.client_name}}</td>
        <td>{{this.client_location}}</td>
        <td>{{this.client_contact}}</td>
        <td>{{this.services}}</td>
        <td>{{this.specific_service}}</td>
        <td>
          <input input type="hidden" type="text" name="job_id" value={{this.id}}>
          <br>
          <button type="submit" class="btn btn-default accepting-btn ac-btn" id="firstassign" data-toggle="modal" data-delay="50" data-target="#assign-modal"> Assign/Update</button>
        </td>
      </tr>
      <!-- assign modal -->
      <div class="modal fade" id="assign-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color: #000">
                      ×</button>
                  <h4 class="modal-title" id="firstassign-modal-label">
                         ASSIGN/UPDATE </h4>
              </div>
              <div class="modal-body">
                  <div class="row reg-body">
                      <div class="col-md-12">
                          <form class="full-update-form">
                              <div class="form-group">
                                  <label for="jobId" class="modal-label">JOB ID</label>
                                  <input type="text" class="form-control chosen-select" id="jobId" aria-describedby="emailHelp" placeholder="1">
                              </div>
                              <!-- <p><strong>JOB ID:</strong> {{this.id}} </p> -->
                              <div class="form-group">
                                  <label for="selectSkill" class="modal-label"> Skills </label>
                                  <select class="form-control chosen-select" id="selectSkill" name="selectSkill">
                                      <option value=""> -Choose one- </option>
                                  </select>
                              </div>
                              <div class="form-group">
                                  <label for="technician" class="modal-label"> Technician </label>
                                  <select class="form-control chosen-select" id="technician" name="technician">
                                      <option value=""> -Choose Technician- </option>
                                  </select>
                              </div>
                              <div class="form-group">
                                  <label for="checkboxStatus" class="modal-label">Status</label>
                                  <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="assign" value="assign"> Assign
                                      <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inProgress" value="inProgress"> In Progress
                                      <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="hold" value="hold"> On Hold
                                      <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="completed" value="completed"> Completed
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-sm-10">
                                      <form method="POST" action="/api/update2" class="button-size">
                                          <input input type="hidden" type="text" name="job_id" value={{this.id}}>
                                          <br>
                                          <button type="submit" class="btn btn-success" id="submitupdate">Submit</button>
                                      </form>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>
                  <!--End Row-->
              </div>
              <!--End Modal Body-->
          </div>
          <!--End Modal Content-->
      </div>
      <!--End Modal Dialogue-->
      </div>

      {{/each}}
    </tbody>
  </table>
</div>

<!--End Modal-->
<script type="text/javascript">
$(document).ready(function() {
    //  To get skillsets from the Skillsets database
    function getSkill() {
        //  var optionsList = "";
        $.get("/api/Skillsets", function(data) {
            Skillsets = data;
            if (data) {
                console.log(data);
                for (var i = 0; i < data.length; i++) {
                    console.log(data[i].skill);
                    var newselect = $('<option value=' + data[i].skill + '>' + data[i].skill + '</option>');
                    $('#selectSkill').append(newselect);
                }
            }
        })
    }
    getSkill();
    //  To get Tecnicians from the Technicians database
    function getTech() {
        $.get("/api/Technicians", function(data) {
            Technicians = data;
            if (data) {
                console.log(data);
                for (var i = 0; i < data.length; i++) {
                    var newselect = $('<option value=' + data[i].id + '>' + data[i].name + '</option>');
                    $('#technician').append(newselect);
                }
            }
        })
    }
    getTech();
    // Capture the form inputs
    $("#submitupdate").on("click", function() {
        // Form validation
        // function validateForm() {
        //     var isValid = true;
        //     $('.chosen-select').each(function() {
        //         if ($(this).val() === '')
        //             isValid = false;
        //     });
        //     $('.check-input').each(function() {
        //         if ($(this).val() === "")
        //             isValid = false
        //     })
        //     return isValid;
        // }
        // // If all required fields are filled
        // if (validateForm() == true) {
            // Create an object for the user's data
            var UpdateData = {
                ID: $("#jobId").val().trim(),
                Skill: $("#selectSkill").val().trim(),
                Technician: $("#technician").val().trim(),
                Status: $('input:radio[name="inlineRadioOptions1"]:checked').val().trim(),
            }
            console.log(UpdateData);
            // send an AJAX POST-request with jQuery
            $.post("/api/update2", UpdateData)
                // on success, run this callback
                .done(function(data) {
                    // log the data we found
                    console.log(data);
                });
            alert("Done. Thank you!");
            $('.full-update-form').trigger('reset');
            $('#assign-modal').modal('hide');
        // } else {
        //
        //     alert("Please fill out all fields before submitting!");
        // }
        // return false;
    });
});
</script>
